<!DOCTYPE html>
<html>
 <head>
   <p> Página de facturas </p>
 </head>
 <body>
  <p>Cliente</p>
  <p> {{ fc.cliente_nombre }} </p>
 </body>
 <body>
  <p>Número de factura</p>
  <p> {{ fc.num }} </p>
 </body>
 <body>
  <p>Año de emisión</p>
  <p> {{ fc.anio }} </p>
 </body>
 <body>
  <p>Fecha de emisión</p>
  <p> {{ fc.fecha_emision }} </p>
 </body>
  <body>
  <p>Dirección del cliente</p>
  <p> {{ fc.cliente_direccion }} </p>
 </body>
 <body>
  <p>Nombre del producto</p>
  <p> {{ lf.nombre_producto }} </p>
 </body>
 <body>
  <p>Precio del producto</p>
  <p> {{ lf.precio_unitario}} </p>
 </body>
 <body>
  <p>Unidades</p>
  <p> {{ lf.unidades}} </p>
 </body>
 <body>
  <p>Precio real</p>
  <p> {{ lf.precio_real}} </p>
 </body>